body {
  background: linear-gradient(#2f2a9e, #050510);
  color: white;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 113%;
  object-fit: cover;
  z-index: -3;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 75px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tetris-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 105px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -7px;
  text-shadow:
    0 0 8px white,
    0 0 18px rgba(0, 200, 255, 0.7);
}

.letter-t {
  color: #00d9ff;
  text-shadow:
    0 0 10px #00d9ff,
    0 0 25px #00d9ff;
}

.letter-e {
  color: #a833ff;
  text-shadow:
    0 0 10px #a833ff,
    0 0 25px #a833ff;
}

.letter-r {
  color: #ffbf00;
  text-shadow:
    0 0 10px #ffbf00,
    0 0 25px #ffbf00;
}

.letter-i {
  color: #31e04b;
  text-shadow:
    0 0 10px #31e04b,
    0 0 25px #31e04b;
}

.letter-s {
  color: #ff3030;
  text-shadow:
    0 0 10px #ff3030,
    0 0 25px #ff3030;
}

.world-title {
  margin-top: 5px;
  font-size: 36px;
  letter-spacing: 18px;
  color: white;
  text-shadow:
    0 0 8px white,
    0 0 20px #7f9cff;
}

.play-button {
  margin-top: 40px;
  padding: 14px 30px;
  color: white;
  background: rgba(40, 20, 90, 0.9);
  border: 3px solid #d7d7ff;
  border-radius: 7px;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  box-shadow:
    0 0 8px #9d7cff,
    inset 0 0 12px rgba(130, 80, 255, 0.5);
  transition: 0.3s;
}

.play-button:hover {
  transform: scale(1.1);
  background: #7d4dff;
  box-shadow:
    0 0 20px #a770ff,
    0 0 40px #6b3dff;
}

.left-side img {
  width: 400px;
  transition: 0.9s;
  border-radius: 10px;
}

.left-side :hover {
  transform: scale(1.2);
}

.about-game {
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 100px;
}

.left-side img {
  width: 340px;
}

.right-side h1 {
  font-size: 70px;
}

.right-side h2 {
  margin-bottom: 30px;
  font-size: 70px;
}

.GameRules h1 {
  text-align: center;
  color: #d6a936;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 35px;
}

.GameModes h1 {
  text-align: center;
  color: #d6a936;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 35px;
}

.GameModes h2 {
  transform: translateX(110px);
  color: #d6a936;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 35px;
}
